body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}

#generatedScript {
    margin-top: 20px;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}